  <!-- <div > -->
    <mat-card class="container" style="margin-left: 2%; margin-right: 2%;">

      <!-- <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          @if (showFiller) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
          }
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
          </button>
        </mat-drawer>
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div>
      </mat-drawer-container> -->


        <mat-card-content class="box1">

          <div class="box2">

            <mat-form-field appearance="fill" style="margin-top: 10px; width: 95%; margin-left: 2.5%;">
              <input type="text" matInput  placeholder="Enter your topic..." focus />
            </mat-form-field>

          </div>

                <div class="one h-full">

                  <mat-form-field appearance="outline" class="fields-">
                    <mat-label>Format</mat-label>
                    <mat-select>
                      @for (format of formats; track format) {
                        <mat-option [value]="format.value">{{format.value}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="field-border-radius">
                    <mat-label>No. of Questions</mat-label>
                    <input matInput type="number" min="0" max="50" required >
                    <!-- <mat-hint>milliseconds</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="fields">
                    <mat-label>Name of Book</mat-label>
                    <mat-select>
                      @for (format of formats; track format) {
                        <mat-option [value]="format.value">{{format.value}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- <div class="two"> -->

                  <!-- <mat-form-field>
                    <mat-label>No. of Questions</mat-label>
                    <mat-select>
                      @for (format of formats; track format) {
                        <mat-option [value]="format.value">{{format.value}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field> -->
                  
                <!-- </div> -->

                

              <div class="box3">
                <button mat-button class="btn">Submit</button>
                <!-- <div class="example-label">Stroked</div> -->
              </div>
        </mat-card-content>
      </mat-card>
  <!-- </div> -->
