.one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 35px;
    margin: 0 15rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

.two{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.box3{
    display: flex;
    justify-content: center;
    color: black;
}

.box1{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    /* background-color: rgb(94, 114, 141); */
    /* background-image: linear-gradient(to right, rgba(27, 35, 74, 0.529), rgba(21, 36, 52, 0.989)); */
    background-color: #1f273c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    width: 95%;
    margin-top: 50px;

    /* box-shadow: 0px 0px 10px 0px #888686,
        0 1px 1px 0 #8a8a8a,
        0 1px 3px 0 #9b9b9b; */
}

/* .fields{
    background-color: rgb(35, 42, 75);
} */

.btn{
    background-color: rgb(212, 213, 214);
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    transform: translateZ(-5px);
    border: 2px solid #0F172A;
    background: transparent;
    color:#888686;
}

.box2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
    margin-bottom: 30px;
}

.mdc-text-field--outlined {
    color:aqua !important;
    background-color: wheat !important;
    font-size: 12px !important;
    padding: 1 10px !important;
}

.mdc-notched-outline__leading {
    border-color: #026e78 !important;
}


::ng-deep .mdc-text-field--filled{
height: 56px;
border-radius: var(--mdc-filled-text-field-container-shape) !important;
}


.container2{
    width: 80%;
    margin-top: 30px;
}

.ans{
    border-radius: 8px;
    height: 50px;
    background-color: #0F172A;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
}

.answerBox{
    margin-top: 40px;
    margin-bottom: 40px;
}