<div class="flex flex-col w-full h-full">
  <!-- UI enchancements regarding light and dark theme @jatin-sharam -->
  <div class="flex flex-col flex-auto overflow-y-auto dark:text-white bg-primary" style="padding: 6px; width: 97.5%;">
    <!-- Header -->
    <div class="flex items-center w-full justify-between">
      <ng-container>
        <div class="flex text-xl items-center justify-center ml-4" style="margin-left: 10px;">
          <!-- UI enchancements regarding light and dark theme @jatin-sharam -->
          <span class="ml-2 font-semibold light: text-white">Upload Book</span>
        </div>
      </ng-container>
      <div class="flex items-center">
        <button [disabled]="bookForm.invalid" mat-icon-button  (click)="onSubmit()" class="mr-1 hover:bg-primary-900" title="Create" style="cursor: pointer;">
          <mat-icon class="text-white" type="submit" >check</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['../']" class="mr-1 hover:bg-red-900" title="Close">
          <mat-icon class="text-white">close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="uploadArea">

    <!-- <div class="bin drag-drop-area" appDnd (fileDropped)="onFileDropped($event)" -->
    <div class="bin drag-drop-area" appDnd
    (drop)="onFileDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    id="fileDrop">

      <!-- <input type="file" id="fileDropRef" (change)="fileBrowserHandler($event)" multiple accept="application/pdf"/> -->
     <div class="before" *ngIf="!isFileDropped">

      <div class="file-icon"><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
        fill="#e8eaed">
        <path d="M319-250h322v-60H319v60Zm0-170h322v-60H319v60ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm331-554v-186H220v680h520v-494H551ZM220-820v186-186 680-680Z" />
      </svg></div>
    <div class="first-line">Drop PDF here</div>
    <div class="or">or</div>
    <div class="folder" *ngIf="!isFileDropped">
      <div (click)="fileUpload.click()" matTooltip="Click to upload file" class="upload cursor" >Upload <span id="draft"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
            viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path
              d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
          </svg></span></div>
          <input class="hidden" type="file" id="fileDropRef" accept="application/pdf, .pdf" #fileUpload (change)="onFileSelected($event)"/>
    </div>
     </div>

     <div class="after" *ngIf="isFileDropped"><p>{{fileName}}</p></div>

    </div>

    <div class="flex flex-col w-full justify-center items-center" style="color: white;">
      <form [formGroup]="bookForm" class="flex flex-col text-white" style="width: 94%;">
        <mat-form-field appearance="fill">
          <mat-label>Book Name</mat-label>
          <input matInput id="bookName" formControlName="bookName">
          <mat-error *ngIf="bookForm.get('bookName')?.hasError('required') && bookForm.get('bookName')?.touched">
            Book Name is required.
          </mat-error>
        </mat-form-field>
          <!-- appearance="outline" -->
        <mat-form-field appearance="fill" style="margin-top: 10px;">
          <mat-label>Author Name</mat-label>
          <input matInput id="authorName" formControlName="authorName">
          <mat-error *ngIf="bookForm.get('authorName')?.hasError('required') && bookForm.get('authorName')?.touched">
            Author Name is required.
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
