mat-sidenav-container{
    margin-top: 50px;
    height: 60%;
}

mat-sidenav{
    background-color: rgb(60, 60, 60);
}

mat-sidenav-content{
    padding: 16px;
    color: rgb(12, 14, 16);
    background-color: rgb(41, 41, 41);
}

mat-sidenav{
    background-color: rgb(87, 87, 89);
    width: 80%;
    /* height: 100%; */
}

.add{
    color: white;
    font-size: medium;
    /* height: auto; */
    font-size: medium;
    display: list-item;
    /* width: auto; */
    align-content: center;
}
.bg-primary{
    color: white;
    background-color: #004f9a;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p{
    padding-left: 18px;
}

button{
    padding: 10px;
}

#cross{
    cursor: pointer;
    padding: 5px;
    margin: 10px;
}
#cross:hover{
    background-color: rgb(122, 167, 244);
    border-radius: 30px ;
    padding-bottom: -1px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 8px;
}
.bin{
    color: white;
    display: flex;
    margin: 16px;
    align-items: center;
    border-style: dashed;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    padding-top: 13px;
    /* cursor: pointer; */
}

.before{
    color: white;
    display: flex;
    margin: 16px;
    align-items: center;
    /* border-style: dashed; */
    /* border-radius: 12px; */
    flex-direction: column;
    justify-content: center;
    padding-top: 13px;
    /* cursor: pointer; */
}

.after{
    color: white;
    display: flex;
    margin: 16px;
    align-items: center;
    /* border-style: dashed; */
    /* border-radius: 12px; */
    flex-direction: column;
    justify-content: center;
    padding-top: 13px;
    height: 185px;
    /* cursor: pointer; */
}


/* .drag-drop-area.dragover {
    background-color: #f0f0f0;
  } */

.first-line{
    padding: 5px;
}
.folder{
    border-style: dashed;
    border-radius: 7px;
    padding-top: -8px;
    padding-bottom: -7px;
    margin: 14px;
    display: flex;
    align-items: center;
    padding: 11px;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 40px 20px 60px 20px;
}

label{
    color:white;
    margin-top: 15px;
}
/* input{
    background-color: rgb(69, 68, 68);
    border-radius: 5px;
} */
.upload{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 5px;
}

.uploadArea{
    background-color: #0f172a;
    height: 100%;
}

input::-webkit-file-upload-button,
input::file-selector-button {
  display: none;
}

.hidden{
    display: none;
}