/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    display: ruby-text;
    background-color: rgb(41, 41, 41);
}
h1{
    margin-top: 40px;
    /* color: aliceblue; */
    color: rgb(184, 149, 74);
    font-family: 'lato', 'arial', sans-serif;
}
a{
    color: rgb(2, 3, 3);
    text-decoration: none;
}
a:hover{
    color: hsl(41, 62%, 58%);
}
li::marker {
    color: rgb(214, 172, 81);
}


.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

/* Width */
.w-0 {
    width: 0;
}

.w-1 {
    width: 0.25rem;
}

.w-2 {
    width: 0.5rem;
}

.w-3 {
    width: 0.75rem;
}

.w-4 {
    width: 1rem;
}

.w-5 {
    width: 1.25rem;
}

.w-6 {
    width: 1.5rem;
}

.w-8 {
    width: 2rem;
}

.w-10 {
    width: 2.5rem;
}

.w-12 {
    width: 3rem;
}

.w-16 {
    width: 4rem;
}

.w-20 {
    width: 5rem;
}

.w-24 {
    width: 6rem;
}

.w-32 {
    width: 8rem;
}

.w-40 {
    width: 10rem;
}

.w-48 {
    width: 12rem;
}

.w-56 {
    width: 14rem;
}

.w-64 {
    width: 16rem;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

/* Height */
.h-0 {
    height: 0;
}

.h-1 {
    height: 0.25rem;
}

.h-2 {
    height: 0.5rem;
}

.h-3 {
    height: 0.75rem;
}

.h-4 {
    height: 1rem;
}

.h-5 {
    height: 1.25rem;
}

.h-6 {
    height: 1.5rem;
}

.h-8 {
    height: 2rem;
}

.h-10 {
    height: 2.5rem;
}

.h-12 {
    height: 3rem;
}

.h-16 {
    height: 4rem;
}

.h-20 {
    height: 5rem;
}

.h-24 {
    height: 6rem;
}

.h-32 {
    height: 8rem;
}

.h-40 {
    height: 10rem;
}

.h-48 {
    height: 12rem;
}

.h-56 {
    height: 14rem;
}

.h-64 {
    height: 16rem;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.text-white {
    color: white;
}

/* .bg-dark {
    background-color: #0f172a
} */
.bg-dark {
    background-color: #f5f6f8
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.items-center {
    align-items: center;
}


/* Typography */
.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-base {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-5xl {
    font-size: 3rem;
}

.font-thin {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

/* Colors */
.text-red-500 {
    color: #ef4444;
}

.text-blue-500 {
    color: #3b82f6;
}

.text-green-500 {
    color: #10b981;
}

.text-yellow-500 {
    color: #f59e0b;
}

.bg-red-500 {
    background-color: #ef4444;
}

.bg-blue-500 {
    background-color: #3b82f6;
}

.bg-green-500 {
    background-color: #10b981;
}

.bg-yellow-500 {
    background-color: #f59e0b;
}

/* Spacing */
/* Margin */
.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.m-4 {
    margin: 1rem;
}

.m-5 {
    margin: 1.25rem;
}

.m-6 {
    margin: 1.5rem;
}

.m-8 {
    margin: 2rem;
}

.m-10 {
    margin: 2.5rem;
}

.m-12 {
    margin: 3rem;
}

.m-16 {
    margin: 4rem;
}

.m-20 {
    margin: 5rem;
}

.m-24 {
    margin: 6rem;
}

.m-32 {
    margin: 8rem;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

/* Flexbox */
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

/* Borders */
.border {
    /* border: 1px solid #e5e7eb; */
    border: 1px solid #4bd0a6;
}

.border-2 {
    border-width: 2px;
}

.border-4 {
    border-width: 4px;
}

.border-8 {
    border-width: 8px;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded-full {
    border-radius: 9999px;
}