.mat-row:nth-child(even){
    background-color: red;
}

.mat-row:nth-child(odd){
    background-color: black;
}

table{
    margin-top: 50px;
    width: 80% !important;
}

.gray { background-color: white }
.blue{background-color: #e7ebfbb5;}

th{
    background-color: #d7d7d8b5;
    font-weight: 900;
    font-size: 18px;
}

tr:hover{
    background-color: #e6e6e8b5;;
}

/* Disable pointer events on the first row */
tr:first-child {
    pointer-events: none;
}


th,td{
    text-align: center;
}

.bookAddBtn{
    margin-top: 10px;
    margin-left: 10px;
}

.bg-primary {
    background-color: #004f9a;
}

.text-white {
    color: white;
}

.bg-gray-900 {
    background-color: grey;
}

  .table-container{
    max-height: 680px; 
    overflow-y: auto;
  }

  mat-header-row {
    position: sticky;
    top: 0;
    z-index: 100;  /* Ensure it stays on top of other content */
    background-color: #3f51b5; /*Keep the background color to avoid blending with content*/
    border-top: 1px solid #ddd; /* Optional: Add border to separate paginator */
  }

  mat-paginator {
    position: sticky;
    bottom: 0; /* Stick the paginator to the bottom of the table container */
    z-index: 100; /* Ensure paginator stays on top of table content */
    background-color: #fff; /* Make paginator background white */
    border-top: 1px solid #ddd; /* Optional: Add border to separate paginator */
  }