.mat-row:nth-child(even){
    background-color: red;
}

.mat-row:nth-child(odd){
    background-color: black;
}

table{
    margin-top: 50px;
    width: 80% !important;
}

.gray { background-color: white }
.blue{background-color: #e7ebfbb5;}

th{
    background-color: #d7d7d8b5;
    font-weight: 900;
    font-size: 18px;
}

tr:hover{
    background-color: #e6e6e8b5;;
}

/* Disable pointer events on the first row */
tr:first-child {
    pointer-events: none;
}


th,td{
    text-align: center;
}

.bookAddBtn{
    margin-top: 10px;
    margin-left: 10px;
}

.bg-primary {
    background-color: #004f9a;
}

.text-white {
    color: white;
}

.bg-gray-900 {
    background-color: grey;
}

